<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fox Club</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div>
    <ul>
        <li class="link-list"><a href="/login">Information</a></li>
        <li class="link-list"><a href="/tricks">Tricks</a></li>
        <li class="link-list"><a href="/nutrition-store">Nutrition store</a></li>
    </ul>

</div>
<img src="greenfox.png" alt="Fox">
<br>
<p th:text="'This is Mr. ' + ${name} + '. Currently living on ' + ${food} + ' and ' + ${drink} + '. He knows two tricks.'"></p>
<br>
<h1>Known tricks</h1>
<div>
    <ul>
        <li>Write HTML codes</li>
    </ul>
</div>

</body>
</html>